<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExchageRates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DB174DE1D88ADA00052671F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB174F21D88ADA30052671F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB174FD1D88ADA30052671F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
